@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 30px;
  /* background-image: url(./assets/bg.png); */
}

.container {
  border: 1px solid purple;
  /* padding-bottom: 10vh; */
  /* background-image: url(./assets/bg.png); */
}

.navbar {
  margin: 0;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding-bottom: 10px;
}

.line {
  border-right: 1px solid #6f6f6f;
  position: relative;
  margin-right: 1000px;
  height: 50px;
  margin-top: 10px;
}

.grow-list {
  position: absolute;
  margin-left: 200px;
}

.list {
  list-style: none;
  display: flex;
  padding: 8px;
}
.list-item {
  /* border: 2px solid white; */
  margin-bottom: 30px;
  padding: 0 25px 50px 25px;
  color: #fff;
}

.list li:nth-child(1) {
  /* border: 1px solid white; */
  margin-bottom: auto;
}
.logo {
  /* border: 2px solid red; */
  padding: 5px;
  margin-top: 10px;
  margin-left: 40px;
  width: 100px;
  height: 40px;
}

.button-small {
  border: none;
  margin: 15px 70px 0 0;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: rgb(185, 14, 197);
  color: #fff;
}

.hero {
  border: 0.5px solid black;
  padding-bottom: 80vh;
  background-image: url(./assets/bg.png);
}
.hero-description {
  /* border: 2px solid red; */
  margin: -100px 500px auto 500px;
  color: #fff;
}
.hero-heading {
  /* border: 2px solid saddlebrown; */
  margin: 100px 0px;
  text-align: center;
  font-size: 50px;
  line-height: 1.5cm;
  color: #fff;
}

.button-large {
  border: none;
  margin: 15px 70px 0px 600px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgb(185, 14, 197);
  color: #fff;
}
